.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}

.todo-list {
    font-size: calc(10px + 1vmin);
    padding: 0;
    list-style: none;
}

.todo-list li {
    padding: 6px;
    padding-bottom: 4px;
    border-bottom: 1px #fff solid;
    margin-bottom: 10px;
}

.todo-list li label {
    cursor: pointer;
}

.todo-list li label input[type="checkbox"] {
    margin-right: 10px;
    float: left;
}

.btn-delete {
    background: #61dafb;
    color: #282c34;
    border: none;
    padding: 1.5px 3.5px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    outline: none;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 8px;
}

form {
    margin: 2px;
}

input[type="text"] {
    margin-top: 20px;
    padding: 6px;
    outline-color: #61dafb;
    font-size: 16px;
    border-radius: 5px;
}

.nav {
    font-size: 12px;
    text-decoration: none;
}
